@import "1.Framework/Client/Style";

$fa-font-path: "font-awesome/fonts";
@import "../../../node_modules/font-awesome/scss/font-awesome";

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
      @content;
    }
    @-moz-keyframes #{$animationName} {
      @content;
    }
    @-o-keyframes #{$animationName} {
      @content;
    }
    @keyframes #{$animationName} {
      @content;
    }
  }
  
@mixin animate($name, $duration, $iteration, $direction) {
    -webkit-animation-duration: $duration;
        -moz-animation-duration: $duration;
            -o-animation-duration: $duration;
            animation-duration: $duration;
    -webkit-animation-iteration-count: $iteration;
        -moz-animation-iteration-count: $iteration;
            -o-animation-iteration-count: $iteration;
            animation-iteration-count: $iteration;
    -webkit-animation-name: $name;
        -moz-animation-name: $name;
            -o-animation-name: $name;
            animation-name: $name;
    -webkit-animation-direction: $direction;
        -moz-animation-direction: $direction;
            -o-animation-direction: $direction;
            animation-direction: $direction;
}

.is-primary{
  /*! keep */
}
.is-link{
  /*! keep */
}
.is-info{
  /*! keep */
}
.is-success{
  /*! keep */
}
.is-warning{
  /*! keep */
}
.is-danger{
  /*! keep */
}

.is-small{
  /*! keep */
}
.is-medium{
  /*! keep */
}
.is-large{
  /*! keep */
}

.is-outlined{
  /*! keep */
}
.is-loading{
  /*! keep */
}

@import "./Container/Container";