.slideout-menu 
    position: fixed
    top: 0
    bottom: 0
    width: 350px
    min-height: 100vh
    -webkit-overflow-scrolling: touch
    z-index: 0
    display: none

@include mobile
    .slideout-menu 
        width: 256px
    
.slideout-menu-left 
    left: 0

.slideout-menu-right 
    right: 0

.slideout-panel 
    position: relative
    z-index: 1
    will-change: transform
    background-color: #FFF
    min-height: 100vh

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel 
    overflow: hidden

.slideout-open .slideout-menu 
    display: block
    padding-top: 1.5em
    overflow-y: scroll

.profile-card
    margin-bottom: 1.5em