.avatar-container{
  display: flex;
  justify-content:center;
}

.avatar{      
  display: block;
  box-sizing: content-box;
  width: 50%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid $white-ter;
  box-shadow: 0 3px 2px $grey-light; 
}