<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basic Node Blog</title>
    <style>
    .app-loader:empty {
      -webkit-animation: spinAround 1000ms infinite linear;
      animation: spinAround 1000ms infinite linear;
      border: 6px solid #dbdbdb;
      border-radius: 290486px;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      height: 6em;
      max-width: 100%;
      max-height: 100%;
      left: calc(50% - 3em);
      top: calc(50% - 3em);
      width: 6em;
      position: absolute; }
    </style>      
  </head>
  <body>
      <div id="root" class="app-loader"></div>
  </body>
</html>