@import "../Application/Client/Theme/theme.config";

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : "site";


/*******************************
         Import Theme
*******************************/

@import "~semantic-ui-less/theme.less";

@importGoogleFonts : false;

@fontPath : "../../../themes/@{theme}/assets/fonts"; 

/* End Config */