.navbar-start a.is-primary.navbar-item:hover{
    background-color: transparent;
}

.navbar-start{
    a.is-primary.navbar-item:hover{
        background-color: transparent;
    }
    a:first-child{
        padding-left: 1.9rem
    }
    a:not(:first-child){
        padding-left: 0.5rem
    }    
} 

.navbar-end {
    input.is-primary{
        &:focus{
            box-shadow: none;
        }
        box-shadow: none;
    }
    .navbar-item{
        padding-right: 1.5rem;
    }
}

.hvr-sink {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sink:hover, .hvr-sink:focus, .hvr-sink:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}