@import "./SideBarControl/SideBarControl" ;
@import "./MenuBar/MenuBar" ;

.remove-top-padding{
    padding-top: 0 !important;
}
  
.remove-box-shadow{
    box-shadow: none !important;
}
    
.hero-head > header.navbar {
    padding-top: 1rem;
}

.hero > .hero-body{
    padding-bottom: 1.5rem;
}
    